name: Deploy Jastfit Frontend App

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set lowercase owner
        run: echo "OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${OWNER_LC}/jastfitfrontend:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${OWNER_LC}/jastfitfrontend:latest

      - name: Deploy on VPS via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          script: |
            docker pull ghcr.io/${{ github.repository_owner }}/jastfitfrontend:latest
            docker stop jastfitfrontend || true
            docker rm jastfitfrontend || true
            docker run -d \
              --name jastfitfrontend \
              -p 3000:3000 \
              --restart unless-stopped \
              ghcr.io/${{ github.repository_owner }}/jastfitfrontend:latest
